<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest"/>
  </specFlow>
  <appSettings>
    <add key="ThreadCulture" value="en-GB"/>
    <add key="FireFoxBinary" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
    <!-- Test Settings Start -->
    <add key="Driver.WaitTimeoutSecs" value="3"/>
    <add key="TestBrowser" value="FireFox"/>
    <add key="ExampleAppHomePageLoginUrlTemaplte" value="http://{0}:{1}@localhost/SomeApp"/>
    <!-- Test Settings End -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
